<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./header') %>
  </head>
  <body>
        <%- include('./navbar') %>
      
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-lg-3 bg-dark d-none d-lg-block">
            <%- include('./sidebar') %>
          </div>
          <div class="col p-3">
            <h3> <%=ttitle%></h3>
            <table class="table table-striped" id="table-with-pagination">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Official name</th>
                  <th scope="col">Region</th>
                  <th scope="col">Subregion</th>
                  <th scope="col">Borders</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <% resultado.forEach((country, index)=>{ console.log(country)%>
                  <tr>
                    <th scope="row">
                      <%= index+1 %>
                    </th>
                    <td>
                      <%= country.officialName %>
                    </td>
                    <td>
                      <%= country.Location.region %>
                    </td>
                    <td>
                      <%= country.Location.region%>
                    </td>
                    <td>
                      <%= country.ExtraInformation.borders%>
                    </td>
                    <td>
                      <button type="button" class="btn btn-secondary" name="modificar-cliente"
                        data-bs-toggle="modal" data-bs-target="#modifyClientModal">
                        Modificar Cliente
                      </button>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
