<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./header') %>
  </head>
  <body>
        <%- include('./navbar') %>
      
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-lg-3 bg-dark d-none d-lg-block">
            <%- include('./sidebar') %>
          </div>
          <div class="col p-3 mh-100 overflow-auto">
            <h3 class="text-center p-4"> <%=ttitle%></h3>
          <table class="table table-responsive-lg table-striped text-center" id="table-with-pagination">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Official name</th>
                <th scope="col">Capital</th>
                <th scope="col">Area Km2</th>
                <th scope="col">Country code (cca3)</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% resultado.forEach((country, index)=>{ %>
              <tr>
                <th scope="row"><%= index+1 %></th>
                <td><%= country.officialName %></td>
                <td><%= country.ExtraInformation.capital %></td>
                <td><%= country.Geography.area.toLocaleString()%></td>
                <td><%= country.ExtraInformation.cca3%></td>
                <td>
                  <a href="/region/country/<%= country.officialName %>" class="btn btn-primary"><i class="fa-solid fa-book "></i> View Details </a>
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
          
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
