<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./header') %>
  </head>
  <body>
        <%- include('./navbar') %>
      
      <div class="container-fluid h-100">
        <div class="row h-100">
          <div class="col-lg-3 bg-dark d-none d-lg-block">
            <%- include('./sidebar') %>
          </div>
          <div class="col p-3 mh-100 overflow-auto">
            <h3 class="text-center p-4"> <%=ttitle%></h3>
            <table class="table table-striped text-center" id="table-with-pagination">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Official name</th>
                  <th scope="col">Population</th>
                  <th scope="col">Latitude</th>
                  <th scope="col">Longitude</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <% resultado.forEach((country, index)=>{%>
                  <tr>
                    <th scope="row">
                      <%= index+1 %>
                    </th>
                    <td>
                      <%= country.officialName %>
                    </td>
                    <td>
                      <%= country.ExtraInformation.population.toLocaleString() %>
                    </td>
                    <td>
                      <%= country.Coordinate.latitude.toFixed(2)%>
                    </td>
                    <td>
                      <%= country.Coordinate.longitude.toFixed(2)%>
                    </td>
                    <td>
                      <a href="/region/country/<%= country.officialName %>" class="btn btn-primary"><i class="fa-solid fa-book "></i> View Details </a>
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
        </div>
        </div>
      </div>
    </div>
  </body>
</html>
